*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:arial;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
body>div{
 background-color: #555;
  height: 7%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body>div>a{
  display: inline-block;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32C24D;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: .2em;
}