*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:arial;
  color: #fff;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
section{
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sub_cont{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
  border: none;
  margin: 2% 0;
}
.game_hud{
  justify-content:space-around;
  height: 20%;
}
.player_hud>div:first-child>span:last-child{
  display: inline-block;
  background-color: #333;
  padding: .2em .4em;
}
.player_hud>div:last-child{
  text-align: center;
  margin: .5em 0;
}
.player_hud>div:last-child>span{
  display: inline-block;
  background-color: orange;
  padding: .2em .6em;
  font-size: .8em;
}

.game_box{
  padding: 1em;
}
.game_table{
  border-collapse: collapse;
}
.game_table>tbody>tr:not(:last-child)>td{
  border-bottom: 1px solid #fff;
}
.game_table>tbody>tr>td:not(:last-child){
  border-right: 1px solid #fff;
}
.game_table>tbody>tr>td{
  background-color: transparent;
  text-align: center;
  height: 5em;
  width: 5em;
}
td>button{
  font-size: 2.5em;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.share_box{
  padding: 1em;
  flex-direction: column;
  
}
.share_box>div{
  text-align: center;
  box-shadow:  inset 0 0 5px rgba(0,0,0,0.5);
  background-color: #333;
  height: 3em;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share_box>div>span{
  
}